@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Roboto+Slab:100,300,400,700); 


.darkBG {
    background: #999;
}

.darkerBG {
    background: #666;
}
.darkestBG {
    background: #333;
}
.jumbotron {
    height:100vh;
    margin-top:0px;
    margin-bottom:0px;

}

.bgimage {
background-image: url(./../space1.jpg);
background-size: 100%;
}
.bgimage-inside {
padding-top: 36.41%; /* this is actually (426/1140)*100 */
}

.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    opacity:0.8;
    z-index:1001;
}
.overlay-message{
    position: fixed;
    top:30px;
    left:30px;
    width:400px;
    height:250px;
    background-color:#fff;
    opacity:1;
    z-index:1002;
}

body{

  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}
img {
    max-width: 200px;
}
/**  Header Navigation **/

header .navbar {
  padding: 30px 0;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  color: red;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #EEC856;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #E15D5F;
  background: transparent;
  text-shadow: none;
}

/**  Navbar Toggle **/
header .navbar-toggle {
  background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
@media only screen
and (max-width: 768px ) {
  header .navbar-collapse {
    background-color: rgba(0,0,0, .5)
  }
}



footer .navbar-default {
  background: transparent;
}

.page {
  padding: 50px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}